name: Extract Native Headers

on:
  workflow_dispatch:

jobs:
  extract:
    strategy:
      matrix:
        include:
          - os: macos-13
            arch: intel
            task: extract_mac
            jextract: https://download.java.net/java/early_access/jextract/22/6/openjdk-22-jextract+6-47_macos-x64_bin.tar.gz

          - os: macos-15
            arch: arm64
            task: extract_mac
            jextract: https://download.java.net/java/early_access/jextract/22/6/openjdk-22-jextract+6-47_macos-aarch64_bin.tar.gz

          - os: ubuntu-24.04-arm
            arch: x64
            task: extract_linux
            jextract: https://download.java.net/java/early_access/jextract/22/6/openjdk-22-jextract+6-47_linux-x64_bin.tar.gz

          - os: ubuntu-latest
            arch: arm64
            task: extract_linux
            jextract: https://download.java.net/java/early_access/jextract/22/6/openjdk-22-jextract+6-47_linux-aarch64_bin.tar.gz

    runs-on: ${{ matrix.os }}

    steps:
      - uses: actions/checkout@v4

      - name: Install Just
        uses: extractions/setup-just@v1

      - name: Curl jextract
        shell: bash
        run: |
          curl -L ${{ matrix.jextract }} -o jextract.tar.gz

      - name: Extract jextract
        shell: bash
        run: tar -xzf jextract.tar.gz

      - name: Find jextract binary path
        id: jextract_bin
        shell: bash
        run: |
          JEXTRACT_BIN=$(find . -name jextract -type f -path "*/bin/*" | head -n 1)
          echo "path=$JEXTRACT_BIN" >> $GITHUB_OUTPUT

      - name: Chmod jextract
        shell: bash
        if: ${{ runner.os == 'Linux' || runner.os == 'macOS' }}
        run: chmod +x ${{ steps.jextract_bin.outputs.path }}

      - name: Run extract task
        shell: bash
        run: |
          cd core
          JEXTRACT_ABSOLUTE_PATH="${{ github.workspace }}/${{ steps.jextract_dir.outputs.dir }}/bin/jextract"
          just ${{ matrix.task }} ${{ matrix.arch }} "$JEXTRACT_ABSOLUTE_PATH"

      - name: Upload headers
        uses: actions/upload-artifact@v4
        with:
          name: headers-${{ matrix.os }}-${{ matrix.arch }}
          path: core/src/main/java/dev/mccue/boba/c/

  commit:
    needs: extract
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Download all headers
        uses: actions/download-artifact@v4
        with:
          path: artifacts
      - name: Copy headers
        run: |
          cp -r artifacts/*/* core/src/main/java/dev/mccue/boba/c/
          rm -rf artifacts
      - uses: stefanzweifel/git-auto-commit-action@v5
        with:
          commit_message: Updated native headers for all platforms
